USE [Gestion_Universitaria]
GO

CREATE PROCEDURE CalificarAlumno
@IDLEGAJO bigint,
@NOTA INT,
@IDEXAMEN INT,
@ESTADO INT

AS

IF EXISTS (SELECT ID FROM Legajos WHERE id = @IDLEGAJO)
BEGIN
	IF EXISTS (SELECT ID FROM Examenes WHERE id = @IDEXAMEN)
		BEGIN
		INSERT INTO Calificaciones_Alumnos VALUES (@IDLEGAJO, @NOTA, @IDEXAMEN, @ESTADO)
		END
	ELSE
		BEGIN
		PRINT('NO EXISTE EL ID DEL EXAMEN')
		END
END
ELSE
BEGIN
PRINT ('NO EXISTE EL LEGAJO')
END